@charset "utf-8";

// 設定用
@import "scss/setting";

.is-scroll {
  background: yellowgreen;
}

.section01 {
  height: 50vh;
}

.scroll-height {
  height: 100vh;
}
.scroll-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
